.product-details-container {
  height: 84vh;
  width: 100%;
  box-shadow: 0px 0px 3px 1px;
  width: 60%;
  margin: auto;
    background-color: rgb(254, 254, 254);
}

.product-details-container h1 {
  text-align: center;
  font-size: 40px;
}

.product-details-items {
  text-align: center;
}

.swiper img{
  width: 50%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}


#product-des-title-container {
  border: 3px solid white;
  width: 90%;
  margin: auto;
  height: 18.5vh;
}

#product-title {
  font-size: px;
}

#product-description {
  margin-bottom: px;
}

#edit-delete-btn {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

#edit-delete-btn button {
  padding: 5px 20px;
  font-size: 18px;
}

#product-details-editBtn:hover {
  background-color: rgb(97, 95, 95);
  color: white;
}

#product-details-deleteBtn:hover {
  color: white;
  background-color: red;
}

@media (max-width: 900px) {
  #product-details-img-container {
  border: 4px solid ;
  width: 50%;
  margin: auto;
  height: 43vh;
}
}

.modal {
  height: 150px;
  border: none;
  box-shadow: 1px 1px 10px 0px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.confirm-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 5px ;
}

.cancel-delete {
  background-color: white;
  font-size: 17px;
}

.cancel-delete:hover {
  color: red;
}

.confirm-delete {
  font-size: 15px;
  padding: 5px 10px;
}

.confirm-delete:hover {
  color: white;
  background-color: rgb(41, 40, 40);
}

@media (max-width: 480px) {
  .product-details-container {
    width: 100%;
    height: 81vh;
  }

  #price-quantity {
    margin-bottom: 30px;
  }

  .swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
  .swiper img{
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
}