.back-btn {
  margin: 15px;
  background-color: white;
  font-size: 25px;
}

.back-btn:hover {
  font-size: 26px;
  transition: 2s ease;
  color: rgb(27, 26, 26);
}

.add-account-container {
  width: 100%;
}

.bank-account-container h1 {
  text-align: center;
  font-size: 2.2rem;
}

@media (max-width: 480px) {
  .add-account-container {
    height: 82dvh;
  }

  .bank-account-container {
    width: 90%;
    margin-top: 45px;
    margin: auto;
    align-items: center;
    
  }
}