.forgot-password-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 80vh;
  justify-content: center;
}

.forgot-password-border {
  padding: 10px 6px 10px 0px;
  box-shadow: 0px 0px 5px -1px;
  border-radius: 10px;
}

.forgot-password-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  padding: 5px 0px;
}

.forgot-password-btn-container button {
  padding: 5px 15px;
}

.forgot-password-btn-container button:hover {
  background-color: rgb(39, 38, 38);
  color: white;
}

.forgot-password-resetLink-text {
  border: 1px solid green;
  border-radius: 9px;
  width: 90%;
  font-size: 12px;
  margin: auto;
  text-align: center;
  color: green;
}
