.reset-password-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 80vh;
  justify-content: center;
}

.reset-password-box {
  padding: 10px 6px 10px 2px;
  box-shadow: 0px 0px 5px 0px;
  border-radius: 10px;
}

.reset-password-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  padding: 5px 0px;
}

.reset-password-btn-container button {
  padding: 5px 15px;
}

.reset-password-btn-container button:hover {
  background-color: rgb(39, 38, 38);
  color: white;
}

.error-text {
  color: red;
  text-align: center;
}