.sidebar {
  background-color: rgb(197, 199, 202);
  height: calc(100vh - 6.9rem);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
  margin-bottom: auto;
}

.sidebar.open {
  width: 11rem;
}

.sidebar.close {
  width: 3rem;
}

.sidebar button {
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(197, 199, 202);
  border: 1px solid rgb(149, 148, 148);
}

.sidebar button.btn-active {
  background-color: rgb(178, 180, 183);
}

.sidebar button:hover{
  background-color: rgb(178, 180, 183);
}


.sidebar-top {
  margin-top: 2px;
}

.toggle-btn {
  display: flex;
  align-items: center;
  padding-left: 9px !important;
}

.ord-pro-bank{
  margin-top: 60px;
}

.ord-pro-bank button {
  margin-top: 5px;
}

.sidebar-products button{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sidebar-bottom {
  margin-bottom: 20px;
}

.sidebar-bottom button{
  display: flex;
  gap: 10px;
  padding-left: 10px;
  align-items: center;
}

.sidebar-bottom button:hover{
  background-color: rgb(253, 54, 54);
  color: white;
}

@media (max-width: 480px) {
  .sidebar{
    position: fixed;
    left: -250px;
    top: 0;
    height: 100vh;
    width: 15rem;
    transition: left 0.6s ease;
    z-index: 1000;
  }

  .sidebar.open{
    left: 0;
  }

  .sidebar.close{
    left: -250px;
  }

  .sidebar-top {
    margin-top: 40px;
  }
}


